@tailwind base;
@tailwind components;

body {
  @apply text-gray-900 bg-gray-100 dark:text-gray-100 dark:bg-gray-900 antialiased font-sans;
  font-feature-settings: 'cv11', 'cv04';
}
@tailwind utilities;

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/ibm-plex-sans-var.woff2) format('woff2');
}

@font-face {
  font-family: 'MonoLisa';
  font-style: normal;
  font-display: optional;
  font-weight: 400;
  src: url('/fonts/monolisa.woff2') format('woff2');
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}
.cursor-newtab {
  cursor: url('/static/images/new-tab.png') 10 10, pointer;
}

.desk-image img {
  border-radius: 30px;
  overflow: hidden;
}

.animate-scale {
  @apply transform transition duration-300 hover:scale-110 hover:shadow-lg active:scale-95 active:shadow-none;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  @apply bg-gray-50 dark:bg-gray-900;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}

.skip-nav {
  @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

#skip {
  scroll-margin-top: 1.125rem;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose a {
  @apply transition-all;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

.prose pre {
  @apply border border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-900;
}

.prose code {
  @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-lg bg-gray-100 dark:bg-gray-900;
}

.prose pre code {
  @apply text-gray-800 dark:text-gray-200;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

code[class*='language-'],
pre[class*='language-'] {
  color: #e1e1e6;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Courier New', Courier,
    'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #191622;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.token {
  font-family: 'MonoLisa', 'consolas';
  color: theme('colors.white');
}
.code-line {
  font-family: 'MonoLisa', 'consolas';
  color: theme('colors.white');
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #483c67;
}

.token.punctuation {
  color: #e1e1e6;
}

.namespace {
  opacity: 0.7;
}

.token.property {
  color: #988bc7;
}

.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ff79c6;
}

.token.boolean,
.token.number {
  color: #78d1e1;
}

.token.string,
.token.attr-value {
  color: #e7de79;
}

.token.attr-name,
.token.char,
.token.builtin,
.token.inserted {
  color: #67e480;
}

.token.selector {
  color: #67e480;
}

.token.operator {
  color: #ff79c6;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #e1e1e6;
}

.token.function {
  color: #ff79c6;
}

.token.parameter {
  color: #e89e64;
}

.token.rule {
  color: #ff79c6;
}

.token.atrule {
  color: #78d1e1;
}

.token.class-name {
  color: #988bc7;
}

.token.keyword {
  color: #ff79c6;
}

.token.regex,
.token.important {
  color: #e89e64;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rehype-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t-lg dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.highlight-line {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.metric-card > a {
  @apply no-underline;
}

.metric-card > p {
  @apply my-2;
}

.step > h3 {
  @apply my-0;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: inherit;
}

.prose code { 
 @apply border-none
}
.prose :where(code):not(:where([class~="not-prose"] *))::before{ 
  content: none!important;
}

.prose :where(code):not(:where([class~="not-prose"] *))::after{ 
  content:  none !important;
}
.prose p code span { 
  font-family: 'MonoLisa';
  font-size: 12px;
  @apply bg-gray-200 dark:bg-gray-700 rounded-md -mx-1 my-0.5 px-2 
}


table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

h1 {
  @apply dark:text-white;
}
